.test-score,
.test-score-tip {
    text-align: center;
}

.test-score {
    padding-top: 30px;
    color: #e55e5c;
    font-size: 18px;
}

.test-score-tip {
    margin-top: 20px;
    color: #333;
    font-size: 18px;
}